/* Global Styles */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f0f0f0 !important;
}

/* .over{
    overflow: hidden;
} */

ul,
li{
    list-style: none;
}

/* hero-image */
.hero-image{
    /* height: 100vh; */
    background: linear-gradient(to top, rgba(255, 255, 255, 0.651) 0%, rgba(22, 236, 68, 0) 100%), url(../img/cat3.jpg)  0/ cover;
    background-position: center;
}
/* Modal */
.modal-content{
    background: #c03a2b00;
    border: none;
}

/* .Logo */
.logo{
    display: block;
    position: relative;
    margin: auto;
    width: 20%;
}

/* Formulario */
.user_card {
    height: 420px;
    width: 350px;
    margin-top: 12%;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    margin: auto;
    margin-bottom: 20px;
    /* height: 170px;
    width: 170px; */
    top: -100px; 
    border-radius: 50%;
    /* background: #60a3bc; */
    padding: 10px;
    text-align: center;
}
.brand_logo {
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 80%;
    border: 3px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input-group-text-2 {
    background: #09af2d !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

/* Formulario cuenta */

.formulario-cuenta{
    background: white;;
    padding: 20px;
    border-radius: 20px;
    border-color: black;
    box-sizing: border-box;
}

/* Datables */

.dataTables_filter {
    /* display: none; */
    float: right;
}

/* .dataTables_filter label input{
    display: none;
} */
